Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Python/
Content/StarterContent/
Content/models/definicion_ventanas/
Content/models/ground_exterior/
Content/models/grass/
Content/models/container/Opaque_202_209_238__001.uasset
Content/models/container/
Content/models/muebles/
Content/models/puertas/
