Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Python/
Content/StarterContent/
Content/models/*
Content/ControlPerspectiva/*
*.htm
*.log
